<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="parent">
    <img src="src/assets/wallpaper.jpg" alt="">
    <div class="left">
      <h1>MY WEBSITE</h1>
      <br>
      <hr>
      <h3>Home</h3>
      <h3>Welcome</h3>
      <h3>Data Binding</h3>
      <h3>Calculator</h3>
      <h3>Rectangle</h3>
      <h3>Circle</h3>
      <h3>BMI</h3>
      <br>
      <br>

      <button>submit</button>


    </div>
    <div class="child">

    </div>

  </div>
</body>
</html>
<router-outlet></router-outlet>